@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

.video-sizing {
    height: 100%;
    width: 100%;
}

.first_menu {
    background-color:#C7A83A;
    margin-top: 10px;
    text-align: center;
    height:40px;
    font-family: 'Slabo 27px', serif;
    padding-top: 8px;
    margin-left: 15px;
}

.menubuttons {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.list-inline :hover {
    background-color: #C7A83A;
}

.first_menu :hover {
    color: black;
    text-decoration: none;
}

.background-color {
    height: 150px;
    width: 100%;
    background-color: #2E2522;
    margin-top: 100%;
}

.client_logo {
    display: inline-block;
    height: 90%;
    width: 90%;
}

p {
    color: white;
    font-size: 10px;
}

.facebookicon {
    /*float: left;*/
    /*height: 25px;*/
    /*width: 25px;*/
    color:white;
    font-size:20px;
}

.col-3 {
   display: inline-block;
}

.col-5 {
    margin-left: 12px;
    margin-top: 65px;
}

.col-lg-6 {
    height: 95%;
    width: 95%;
}

.rempaddmarg {
    padding:0px !important;
    margin:0px !important;
}

#textinvideo {
    color: #C7A83A;
    font-size: 35px;
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 33%;
    font-family: 'Dancing Script', cursive;
}

.SY_signaturename {
    position: absolute;
    z-index: 1;
    top: 81%;
    left: 4%;
    height: 90px;
    margin-top: 59px;
}

#textinvideo2 {
    color: #C7A83A;
    position: absolute;
    z-index: 2;
    top: 94%;
    left: 31%;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
}